@font-face {
  font-family: 'Wulkan Display Bold';
  src: 
  url(./WulkanDisplayBold.ttf) format('truetype'),
  url(./WulkanDisplayBold.woff) format('woff'),
  url(./WulkanDisplayBold.woff2) format('woff2');
  font-style: bold;
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'Wulkan Display Medium';
  src: 
  url(./WulkanDisplayMedium.ttf) format('truetype'),
  url(./WulkanDisplayMedium.woff) format('woff'),
  url(./WulkanDisplayMedium.woff2) format('woff2');
  font-style: medium;
  font-display: swap;
  font-weight: 500;
}