:root {
    --main-font-family: 'Wulkan Display Bold', sans-serif;
    --font-weight-bold: 700;
    --main-font-color: rgba(0 0 0 / 1);
    --main-bg-color: #ffffff;
    --card-bg-color: rgba(217 217 217 / 1);
    --accent-color: rgba(48 60 84 / 1);
    --color-text-button: rgba(0 0 0 / 1);
    --main-inline-padding: 40px;
    --main-gap: 30px;
    --secondary-text: rgba(102 102 102 / 1);
    --border-color: rgba(224 224 224 / 1);
}