:root {
  --main-font-family: 'Wulkan Display', sans-serif;
  --main-font-weight: 700;
  --main-font-color: rgba(0 0 0 / 1);
  --main-bg-color: rgba(255 255 255 / 1);
  --card-bg-color: rgba(217 217 217 / 1);
  --accent-color: rgba(48 60 84 / 1);
  --color-text-button: rgba(0 0 0 / 1);
  --main-inline-padding: 40px;
  --main-gap: 30px;

}